Source: ca-certificates
Section: misc
Priority: optional
Maintainer: Fumitoshi UKAI <ukai@debian.or.jp>
Build-Depends-Indep: debhelper (>> 4.1.16), ruby
Standards-Version: 3.5.9

Package: ca-certificates
Architecture: all
Depends: openssl, ${misc:Depends}
Enhances: libssl0.9.8, openssl
Description: Common CA Certificates PEM files
 It includes the followings PEM files of CA certificates
 .
  * spi-inc.org certificate
  * db.debian.org certificate
  * Mozilla builtin CA certificates
  * CACert.org certificates
  * Brazilian Government Certificate
  * Signet CA certificates
  * QuoVadis CA certificates
 .
 This is useful for any openssl applications to verify
 SSL connection.
 .
 Note that certificate authorities whose certificates are included in
 this package are not in any way audited for trustworthiness and RFC
 3647 compliance, and that full responsibility to assess them rests
 with the user.
